In [1]:
x = 0
y = 5

if x<y: print('yes')
if y<x: print('yes')
if x: print('yes')
if y: print('yes')
if 'aul' in 'grault': print('yes')
if 'quux' in ['foo', 'bar', 'baz']: print('yes')

yes
yes
yes

In [2]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [3]:
x = 120
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [4]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000
if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [5]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000
if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [6]:
name = 'Hacktiv8'
if name == 'Fred':
    print( 'Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print( 'Hello Hacktiv8')
elif name == 'Arnold':
    print( 'Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [7]:
if 'a' in 'bar':
    print(' foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

 foo

In [8]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [9]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [10]:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [11]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [12]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [13]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [14]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [15]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [16]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [17]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [18]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [19]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [20]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [21]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [22]:
age = 12
gender = "M"
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother ')
else:
    if gender == 'M':
        print('grandfather' )
    else:
        print('grandmother')

son

In [23]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [24]:
n = 5
while n>0 : n -=1; print(n)

4
3
2
1
0

In [25]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [26]:
for k in d:
    print(d[k])

1
2
3

In [27]:
for k in d.values():
    print(k)

1
2
3

In [28]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [29]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [30]:
for k in d:
    print(d[k])

1
2
3

In [31]:
for v in d.values():
    print(v)

1
2
3

In [32]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [33]:
x = range(5)

In [34]:
for n in x:
    print(n)

0
1
2
3
4

In [35]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [36]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [37]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.') # Will execute

foo
bar
baz
qux
Done.

In [38]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.') # Will not execute

foo

In [39]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 10C
Temperaturnya adalah 50 derajat

In [40]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop